<section id="about" class="about">
    <div class="container">
      <div class="section-header" data-aos="fade-up">
        <h2>About Me</h2>
        <p>Computational Scientist & Researcher</p>
      </div>
      <div class="about-content row">
        <div class="about-image col-lg-4" data-aos="fade-right" data-aos-delay="200">
          <div class="img-container" style="line-height: 0;">
            <img src="{{ "images/personal_image.jpeg" | relURL }}" alt="Amin Akhshi" class="img-fluid" style="display: block;">
          </div>
        </div>
        <div class="about-text col-lg-8" data-aos="fade-left" data-aos-delay="300">
          <h3>Who am I?</h3>
          <p>I am a computational scientist and researcher focused on applying mathematical models and machine learning techniques to complex systems, particularly in neuroscience. Currently pursuing my PhD in Computational Neuroscience at McGill University, I combine expertise in physics, data science, and deep learning to investigate neural synchronization mechanisms and develop innovative computational solutions.</p>
          
          <h3>Languages</h3>
          <div class="skills">
            <div class="skill">
              <div class="skill-name">English</div>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
            <div class="skill">
              <div class="skill-name">Farsi</div>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
            <div class="skill">
              <div class="skill-name">French</div>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
          </div>
          
          <a href="#" class="btn primary-btn">Download CV</a>
        </div>
      </div>
    </div>
  </section>
  