<section id="experience" class="experience">
  <div class="container">
    <div class="section-header" data-aos="fade-up">
      <h2>Work Experience</h2>
      <p>My Professional Journey</p>
    </div>
    <div class="timeline">
      <ol class="timeline-list">
        <!-- NIH Experience -->
        <li class="timeline-item" data-date="2022-2023">
          <div class="item-inner">
            <div class="time-wrapper">
              <time>April 2022 - May 2023</time>
            </div>
            <div class="details">
              <h3>Research Intern | Immunodynamics Lab</h3>
              <h4>Center for Cancer Research, National Institute of Health - Bethesda, MD, USA</h4>
              <ul>
                <li>Used deep neural networks and nonlinear dynamics modeling to study T-cell activation in the tumor micro-environment</li>
                <li>Employed information theory measures to quantify the information content of T-cell signaling pathways</li>
                <li>Conducted feature importance analysis to examine the impact of micro-environmental factors on T-cell activation</li>
              </ul>
            </div>
          </div>
        </li>
        
        <!-- Google DeepMind Experience -->
        <li class="timeline-item" data-date="2021-2022">
          <div class="item-inner">
            <div class="time-wrapper">
              <time>Sept 2021 - Feb 2022</time>
            </div>
            <div class="details">
              <h3>Student Intern | Science and Sustainability</h3>
              <h4>Google DeepMind - Montreal, QC, CA</h4>
              <ul>
                <li>Developed and deployed recurrent neural network models for physiological data patterns</li>
                <li>Evaluated NLP models for understanding user preferences and personalized routine recommendations</li>
                <li>Implemented interactive dashboards and visualization tools for biosensor data</li>
              </ul>
            </div>
          </div>
        </li>
        
        <!-- Aerial Technologies Experience -->
        <li class="timeline-item" data-date="2021">
          <div class="item-inner">
            <div class="time-wrapper">
              <time>April 2021 - Sept 2021</time>
            </div>
            <div class="details">
              <h3>Intern | R&amp;D</h3>
              <h4>Aerial Technologies Inc. - Montreal, QC, CA</h4>
              <ul>
                <li>Developed motion detection algorithms for tracking human activity using Wi-Fi signals</li>
                <li>Extracted features from Wi-Fi signals using machine learning for spatial-temporal movement identification</li>
                <li>Implemented LSTM and CNN models for indoor localization tracking</li>
              </ul>
            </div>
          </div>
        </li>
        
        <!-- Sharif University Experience -->
        <li class="timeline-item" data-date="2019-2020">
          <div class="item-inner">
            <div class="time-wrapper">
              <time>Sept 2019 - Aug 2020</time>
            </div>
            <div class="details">
              <h3>Research Assistant | Complex Systems Group</h3>
              <h4>Sharif University of Technology - Tehran, IR</h4>
              <ul>
                <li>Developed noise reduction algorithms for event extraction in noisy multivariate timeseries signals</li>
                <li>Utilized time-series analysis to identify high-dimensional interactions in large-scale complex systems</li>
              </ul>
            </div>
          </div>
        </li>
        
        <!-- AriaFan Varzan Experience -->
        <li class="timeline-item" data-date="2016-2018">
          <div class="item-inner">
            <div class="time-wrapper">
              <time>April 2016 - Sept 2018</time>
            </div>
            <div class="details">
              <h3>Application Scientist</h3>
              <h4>AriaFan Varzan Co. - Tehran, IR</h4>
              <ul>
                <li>Provided technical support and consulting for industrial and academic customers</li>
                <li>Assisted with laboratory work and technical issues with equipment</li>
              </ul>
            </div>
          </div>
        </li>
        
        <!-- Parax Co Experience -->
        <li class="timeline-item" data-date="2011-2013">
          <div class="item-inner">
            <div class="time-wrapper">
              <time>Nov 2011 - June 2013</time>
            </div>
            <div class="details">
              <h3>JavaScript Developer</h3>
              <h4>Parax Co. - Tehran, IR</h4>
              <ul>
                <li>Supervised JavaScript programmers team throughout the development lifecycle</li>
                <li>Led projects from conceptual model through detailed design to implementation and deployment</li>
              </ul>
            </div>
          </div>
        </li>
      </ol>
    </div>
  </div>
</section>
