<header>
    <div class="container">
      <nav class="navbar navbar-expand-lg">
        <div class="logo">
          <a href="{{ "/" | relURL }}">Amin<span>Akhshi</span></a>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto nav-links">
            <li class="nav-item"><a href="#home" class="nav-link active">Home</a></li>
            <li class="nav-item"><a href="#about" class="nav-link">About</a></li>
            <li class="nav-item"><a href="#experience" class="nav-link">Experience</a></li>
            <li class="nav-item"><a href="#education" class="nav-link">Education</a></li>
            <li class="nav-item"><a href="#skills" class="nav-link">Skills</a></li>
            <li class="nav-item"><a href="#portfolio" class="nav-link">Projects</a></li>
            <li class="nav-item"><a href="#publications" class="nav-link">Publications</a></li>
            <li class="nav-item"><a href="#contact" class="nav-link">Contact</a></li>
          </ul>
        </div>
      </nav>
    </div>
  </header>
  