<section id="home" class="hero">
    <!-- The particles.js will be applied to this entire section as background -->
    <div class="container">
      <div class="hero-content row">
        <div class="text-content col-lg-6" data-aos="fade-right" data-aos-duration="1000">
          <h1>Hi, I'm <span class="animate-text"><span></span></span></h1>
            <p data-aos="fade-up" data-aos-delay="600" style="margin-bottom: 5px;">A computational scientist & machine learning expert</p>
            <p data-aos="fade-up" data-aos-delay="900" style="margin-top: 0;">Welcome to my personal website</p>
          <div class="hero-buttons" data-aos="fade-up" data-aos-delay="1400">
            <a href="#portfolio" class="btn primary-btn">View My Projects</a>
            <a href="#contact" class="btn secondary-btn">Contact Me</a>
          </div>
          <div class="social-icons" data-aos="fade-up" data-aos-delay="1800">
            <a href="https://github.com/aminakhshi" target="_blank"><i class="fab fa-github"></i></a>
            <a href="https://www.linkedin.com/in/amin-akhshi-9750541b6/" target="_blank"><i class="fab fa-linkedin"></i></a>
            <a href="https://orcid.org/0000-0002-6995-3884" target="_blank"><i class="fab fa-orcid"></i></a>
          </div>
        </div>
        <!-- 
        <div class="hero-image col-lg-6 animate-fade-in" data-aos="fade-left" data-aos-duration="1000">
          <div class="img-container">
            <img src="{{ "images/personal_image.jpeg" | relURL }}" alt="Amin Akhshi" class="img-fluid">
          </div>
        </div>
        -->
      </div>
    </div>
    <div class="scroll-indicator" style="position: absolute; bottom: 30px; left: 50%; transform: translateX(-50%); cursor: pointer; z-index: 5;">
      <a href="#portfolio" aria-label="Scroll down" style="text-decoration: none; color: inherit;">
        <div class="mouse">
          <div class="wheel"></div>
        </div>
        <div class="arrow">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </a>
    </div>
  </section>
